.mini-cal{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: Verdana, sans-serif;
    background: #fcfcfc;
    color: #000;
}

#calTitle{
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    font-size: 1.12em;
    text-align: center;
    padding: 0.4em 1em;
    padding-top: 0.8em;
    background: #eee;
}

#calTitle button{
    outline: none;
    display: block;
    border: 0.1em solid #999;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #999;
}

#calTitle button svg{
    width: 30px;
    height: 30px;
}

#calTitle button:hover{
    background: #ddd;
}

#calThead, #calTbody{
    display: flex;
    flex-wrap: wrap;
    padding: 0.1em;
}

#calThead{
    background-color: #f6f6f6;
    color: #000;
    margin-top: 0.4em;
    align-items: center;
    text-align: center;
    font-size: 0.88em;
}

#calThead > div, #calTbody .a-date{
    box-sizing: border-box;
    flex: 1;
    min-width: calc(100% / 7);
    max-width: calc(100% / 7);
    width: calc(100% / 7);
    text-align: center;
    padding: 0;
}

#calThead > div{
    font-size: 1.1em;
    padding: 0.2em 0.2em;
}

#calTbody{
    color: #000;
}

#calTbody .a-date > span{
    display: block;
    font-size: 1em;
}

#calTbody .a-date{
    cursor: default;
    padding: 0;
    position: relative;
    background-color: transparent;
    color: inherit;
    padding: 0.5em 1.0em 1.5em 1.0em;
    border: 0.1em solid transparent;
    outline: none;
    font-size: 0.9em;
}



#calTbody .a-date.blurred{
    opacity: 0.5;
}

#calTbody .a-date.event:before{
    content: '';
    position: absolute;
    bottom: 0.25em;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #00c0f2;
    width: 1.0em;
    height: 1.0em;
    border-radius: 0.5em;
    opacity: 0.5;
}

#calTbody .cal-events {
    position: absolute;
    left: 0;
    bottom: 0.25em;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 1.0em;
    text-align: center;
}
#calTbody div[class^="cal-event-"], #calTbody div[class*=" cal-event-"]{
    position: static;
    margin: 0;
    width: 1.0em;
    height: 1.0em;
    border-radius: 0.5em;
    opacity: 0.5;
    display: inline-block;
}

#calTbody .a-date.current{
    border-color: #abe0f9;
    outline: none;
    outline: 0;
}

#calTFooter{
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    font-size: 1.1em;
    padding: 0 1em;
    margin-top: 0.5em;
}

#calTFooter #calLink{
    font-size: 0.8em;
    display: inline-block;
    padding: 0.6em 0.8em;
    flex-shrink: 0;
    text-decoration: none;
    color: #00c0f2;
}

#calTFooter #calLink:hover{
    background-color: #555;
}

#calTFooter #eventTitle{
    margin: 0;
    margin-right: 0.1em;
    font-weight: normal;
    font-size: 0.95em;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#calTitle .month-mover, #calTbody .has-market {
    cursor: pointer;
}
#calTbody .has-market:hover {
    background-color: #ebebeb;
}